{% extends 'base.html.twig' %}

{% block body %}
    <h1>Infographic</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ infographic.id }}</td>
            </tr>
            <tr>
                <th>infoImage</th>
                <td>{{ infographic.infoImage}}</td>
            </tr>
            <tr>
                <th>Cityid</th>
                <td>{{ infographic.cityId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_infographic_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_infographic_edit', { 'id': infographic.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
