<div class="row row-read" id="row-read">
  <div class="city-subject center-div-elements-vertically col-md-4  col-sm-4  col-xs-12">
      <div class="city-subject-left left">
          <h3>{{ city.name }}</h3>
          
          <p class="city-pdf"><a  href="{{ asset('citypdf/')~city.pdfUrl }}">Download Pdf</a></p>
          <p>Last Update:<span class="font-light">{{ city.updatedAt|date }}</span></p>
          <p>Publisher:  <span class="font-light">{{ city.publisher }}</span></p>
          <p>Translator: <span class="font-light">{{ city.translator }}</span></p>
          <p>Supervisor: <span class="font-light">{{ city.supervisor }}</span></p>
          <p>Special Thanks: <span class="font-light">{{ city.specialThanks }}</span></p>
      </div>
  </div>
  <div class="paragraph-text fade-out city-information content-details col-md-8 col-sm-8 col-xs-12">
    <div class="row">
    <div class="col-md-11 city-text">
	    {{ city.cityDesc|raw }}
				</div>
				</div>
	</div>
</div>