
	    <footer  class="row">
	     <div class="footer">
	     		<div class="footer-gray col-md-3 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xs-6 col-xs-offset-1">
	     			<div class="logo-container">
     					<img class="img-responsive center-block" src="{{ asset('images/logo-w.png') }}"/>
						<h2 class="text-center"><strong>Cities in</strong> Revolution</h2>
	     			</div>
	     			<div class="row text-center"><h4><strong>Sponsord By</strong></h4></div>
	     			<div class="row footer-sponsor center-block">
			  				<img class="img-responsive col-md-5 col-md-offset-1 col-sm-4 col-xs-4" src="{{ asset('images/flag_yellow.jpg') }}">
			  				<img class="img-responsive col-md-5 col-sm-4 col-xs-4" src="{{ asset('images/sponsor-cfi-bot.png') }}">
	     			</div>
	     		</div>
	     		<div class="col-md-1 col-sm-2 col-xs-2 footer-social-tab">
 					<img class="img-responsive col-social" src="{{ asset('images/youtube.png') }}">
					<img class="img-responsive col-social" src="{{ asset('images/twitter.png') }}">
					<img class="img-responsive col-social" src="{{ asset('images/facebook.png') }}">
	     		</div>
	     		<div class="rwl-cities-footer col-md-2 col-sm-3 col-xs-3">
					<button class="btn-default banyas col-md-12 col-sm-12 col-xs-12" type="button">Banyias</button>
					<button class="btn-default qamshli col-md-12 col-sm-12 col-xs-12" type="button">Qamishli</button>
					<button class="btn-default zabadani col-md-12 col-sm-12 col-xs-12" type="button">Zabadani</button>
					<button class="btn-default salamyeh col-md-12 col-sm-12 col-xs-12" type="button">Salamiyah</button>
					<button class="btn-default deralzor col-md-12 col-sm-12 col-xs-12" type="button">Deir Ez-Zor</button>
					<button class="btn-default daraa col-md-12 col-sm-12 col-xs-12" type="button">Daraa</button>
	     		</div>
	     </div>
	    </footer>
	  </div>
  </div>
</body>
</html>