<div class="row alert-subject">
  <div>
    <h4>Image Gallery</h4>
  </div>
  <div>
    <h5></h5>
  </div>  
</div>
<div class="row row-gallery">
  <div class="gallery-container">
    <div class="col-md-3 col-sm-3 col-xs-3">
      <a href="{{ asset('images/gallery/1.jpg') }}" class="shadows-link fancy-box" id="fancy-box" rel="group">
        <img  class="img-responsive shadow" src="{{ asset('images/gallery/1.jpg') }}"/>
      </a>
      <a href="{{ asset('images/gallery/1.jpg') }}" class="shadows-link fancy-box" id="fancy-box" rel="group">
         <img  class="img-responsive" src="{{ asset('images/gallery/1.jpg') }}"/>
      </a>
      <a href="{{ asset('images/gallery/1.jpg') }}" class="shadows-link fancy-box" id="fancy-box" rel="group">
        <img  class="img-responsive shadow" src="{{ asset('images/gallery/1.jpg') }}"/>
      </a>
    </div>  
    <div class="col-md-3 col-sm-3 col-xs-3">
      <a href="{{ asset('images/gallery/1.jpg') }}" class="shadows-link fancy-box" id="fancy-box" rel="group">
        <img  class="img-responsive shadow" src="{{ asset('images/gallery/1.jpg') }}"/>
      </a>
      <a href="{{ asset('images/gallery/1.jpg') }}" class="shadows-link fancy-box" id="fancy-box" rel="group">
        <img  class="img-responsive shadow" src="{{ asset('images/gallery/1.jpg') }}"/>
      </a>
      <a href="{{ asset('images/gallery/1.jpg') }}" class="shadows-link fancy-box" id="fancy-box" rel="group">
        <img  class="img-responsive shadow" src="{{ asset('images/gallery/1.jpg') }}"/>
      </a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
      <a href="{{ asset('images/gallery/1.jpg') }}" class="shadows-link fancy-box" id="fancy-box" rel="group">
        <img  class="img-responsive shadow" src="{{ asset('images/gallery/1.jpg') }}"/>
      </a>
      <a href="{{ asset('images/gallery/1.jpg') }}" class="shadows-link fancy-box" id="fancy-box" rel="group">
        <img  class="img-responsive shadow" src="{{ asset('images/gallery/1.jpg') }}"/>
      </a>
      <a href="{{ asset('images/gallery/1.jpg') }}" class="shadows-link fancy-box" id="fancy-box" rel="group">
        <img  class="img-responsive shadow" src="{{ asset('images/gallery/1.jpg') }}"/>
      </a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
      <a href="{{ asset('images/gallery/1.jpg') }}" class="shadows-link fancy-box" id="fancy-box" rel="group">
        <img  class="img-responsive shadow" src="{{ asset('images/gallery/1.jpg') }}"/>
      </a>
      <a href="{{ asset('images/gallery/1.jpg') }}" class="shadows-link fancy-box" id="fancy-box" rel="group">
        <img  class="img-responsive shadow" src="{{ asset('images/gallery/1.jpg') }}"/>
      </a>
      <a href="{{ asset('images/gallery/1.jpg') }}" class="shadows-link fancy-box" id="fancy-box" rel="group">
        <img  class="img-responsive shadow" src="{{ asset('images/gallery/1.jpg') }}"/>
      </a>
    </div> 
  </div> 
</div>
