{% extends 'base.html.twig' %}

{% block body %}
    <h1>SiteDesc</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ siteDesc.id }}</td>
            </tr>
            <tr>
                <th>Sitedesccontent</th>
                <td>{{ siteDesc.siteDescContent }}</td>
            </tr>
            <tr>
                <th>Sitedesctitle</th>
                <td>{{ siteDesc.siteDescTitle }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_sitedesc_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_sitedesc_edit', { 'id': siteDesc.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
