{% extends 'base.html.twig' %}

{% block body %}
    <h1>Audio list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Audiolink</th>
                <th>Cityid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for audio in audios %}
            <tr>
                <td><a href="{{ path('admin_audio_show', { 'id': audio.id }) }}">{{ audio.id }}</a></td>
                <td>{{ audio.audioLink }}</td>
                <td>{{ audio.cityId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_audio_show', { 'id': audio.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_audio_edit', { 'id': audio.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_audio_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
